pixi.lock merge=binary linguist-language=YAML linguist-generated=true
docs/* linguist-documentation
notebooks/* linguist-documentation
site/* linguist-documentation
quarto/* linguist-documentation
*.html linguist-vendored
*.js linguist-vendored
*.ipynb linguist-vendored
*.css linguist-vendored
*.pdf
